@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&family=Open+Sans&display=swap');

/* Defaults  */
.sheet-darkmode .sheetform {
    background-color: transparent;
}

.ui-dialog .charsheet {
    padding: 0;
}

.character-sheet .row {
    display: flex;
    max-width: 100%;
    margin: 0;
}

.col-12 {
    width: 100%;
    padding: 0 2px;
}

.col-10 {
    width: 83%;
    padding: 0 2px;
}

.col-9 {
    width: 75%;
    padding: 0 2px;
}

.col-8 {
    width: 66%;
    padding: 0 2px;
}

.col-7 {
    width: 58%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-5 {
    width: 41%;
    padding: 0 15px;
}

.col-4 {
    width: 33%;
    padding: 0 2px;
}

.col-3 {
    width: 25%;
    padding: 0 2px;
}

.col-2 {
    width: 17%;
    padding: 0 2px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character-sheet input,
.character-sheet select {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 1px dashed #231f20;
    border-radius: 0;
    transition: .3s all ease;
    display: inline-block;
    font-size: 14px;
    color: #000;
    line-height: 28px;
    height: 32px;
    padding: 0 12px;
    box-sizing: border-box;
}

.character-sheet input.transparent {
    background: transparent;
    line-height: 16px;
    height: auto;
    padding: 5px 5px 0;
}

.character-sheet input:focus {
    border: 1px solid #4471c4;
    border-radius: 2px;
    outline: none;
}

.charactersheet {
    padding: 0;
}

.character-sheet textarea {
    background-attachment: local;
    background-color: transparent;
    font-size: 14px;
    padding: 4px 12px;
    box-sizing: border-box;
    height: auto;
    resize: vertical;
    margin: 0;
    color: #000;
    border: 1px solid transparent;
	border-bottom: 1px dashed #231f20;
    border-radius: 0;
    transition: .3s border ease;
}

.character-sheet textarea:focus {
    border: 1px solid #4471c4;
    border-radius: 2px;
    outline: none;
}

.charsheet .character-sheet button[type="roll"],
.charsheet .character-sheet button[type="action"] {
    border: 0;
    font-family: 'Courier Prime', monospace;
    background: transparent;
    text-transform: uppercase;
    color: #231f20;
    cursor: pointer;
    transition: .3s all ease;
    text-shadow: none;
    border-radius: 4px;
    padding: 0;
    height: 36px;
    width: 36px;
}

.charsheet .character-sheet button[type="roll"]:hover,
.charsheet .character-sheet button[type="action"]:hover {
    color: #fff;
}

.charsheet .character-sheet button[type="roll"]::before,
.charsheet .character-sheet button[type="action"]::before {
    color: #4471c4;
    font-size: 20px;
    font-family: "dicefontd20";
    content: "t";
}

.charsheet .character-sheet button[type="roll"]:hover::before,
.charsheet .character-sheet button[type="action"]:hover::before {
    color: #e83838;
}


.charsheet .character-sheet input[type="checkbox"] {
    width: auto;
    appearance: none;
	-webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: transparent;
    padding: 0;
	border: 1px solid #000;
    margin-right: 6px;
}

.charsheet .character-sheet input[type="checkbox"]::after {
    content: "";
    background: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Glina/Images/x.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    margin-top: -2px;
	margin-left: -2px;
    opacity: 0;
    transition: .3s all ease;
}

.charsheet .character-sheet input[type="checkbox"]:checked::after {
    opacity: 1;
}

.charsheet .character-sheet .checkbox-line input[type="checkbox"]:checked ~ input[type="checkbox"]::after {
    opacity: 1;
}

.charsheet .character-sheet input[type="number"] {
    width: 100%;
    padding-right: 0;
    text-align: center;
    font-size: 18px;
}

.charsheet .character-sheet input.circle-input {
    width: 20px;
    padding: 0 9px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #231f20;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 2px;
}

.charsheet .character-sheet input.circle-input:checked {
    background-color: #231f20;
}

.sheet-profile,
.sheet-actions,
.sheet-other {
    display: none;
}

/*PROFILE Sheet Layout*/
.sheet-tabstoggle[value="profile"]~div.sheet-profile {
    display: block;
}

/*ACTIONS Sheet Layout*/
.sheet-tabstoggle[value="actions"]~div.sheet-actions {
    display: block;
}

/*ACTIONS Sheet Layout*/
.sheet-tabstoggle[value="other"]~div.sheet-other {
    display: block;
}

.charsheet .sheet-change[type="action"] {
    border: 0;
    padding: 10px 15px;
	transition: .3s all ease;
	background: #d5c48c;
	font-family: 'Courier Prime', monospace;
	font-size: 15px;
	font-weight: bold;
    position: absolute;
	top: 7px;
	z-index: 1;
}

.charsheet .sheet-change[type="action"]:hover {
    background-color: #4471c4;
    color: #fff;
    top: 0;
}

.charsheet .sheet-change[type="action"]::before {
    display: none;
}

.sheet-tabstoggle[value="profile"] ~ .sheet-change[name="act_profile"],
.sheet-tabstoggle[value="actions"] ~ .sheet-change[name="act_actions"],
.sheet-tabstoggle[value="other"] ~ .sheet-change[name="act_other"] {
    background-color: #4471c4;
    color: #fff;
    top: 0;
}

.charsheet .sheet-change[name="act_actions"] {
    left: 84px;
}

.charsheet .sheet-change[name="act_other"] {
    left: 231px;
}

/* Custom modules */
.character-sheet {
    background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Glina/Images/sheet-bg-long.png);
	background-position: top left;
    box-sizing: border-box;
    padding: 40px 30px 25px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.character-sheet__container {
    position: relative;
    padding-top: 38px;
}

.character-sheet h2 {
    font-family: 'Courier Prime', monospace;
}

.charsheet .character-details-label {
    display: flex;
    padding-right: 0;
	box-sizing: border-box;
}

.charsheet .character-details-label span {
	display: block;
	padding-right: 10px;
	padding-top: 8px;
	font-weight: 600;
    white-space: nowrap;
    font-size: 16px;
}

.character-details-label input {
    width: 100%;
}

.character-details-box {
    margin-bottom: 20px;
}

.character-details-box:last-child {
    margin: 0;
}

.custom-table {
    width: 100%;
}

.custom-table tr {
    border-bottom: 1px solid #000;
}

.custom-table tr:last-child {
    border: 0;
}

.custom-table td:first-child, .custom-table th {
    font-weight: bold;
	font-style: italic;
    text-align: right;
}

.custom-table th {
    text-align: center;
}

.custom-table td:first-child {
    padding-right: 8px;
    width: 100%;
}

.custom-table td:nth-child(2) {
    white-space: nowrap;
}

.custom-table select {
    width: 110px;
    padding: 0;
}

.checkbox-line {
    display: flex;
    flex-direction: row-reverse;
}

.down-checkboxes-box {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.down-checkboxes-box:last-child {
    margin: 0;
}

.down-checkboxes {
    display: flex;
	margin-bottom: 20px;
}

.character-sheet .checkbox-label {
    display: inline-block;
	cursor: pointer;
	width: auto;
}

.down-checkboxes .checkbox-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4px 0;
	border: 1px solid #000;
	margin-right: -1px;
	width: 32px;
    cursor: pointer;
    position: relative;
}

.down-checkboxes .checkbox-label span {
    border-bottom: 1px solid #000;
	display: block;
	width: 100%;
	text-align: center;
}
.down-checkboxes .checkbox-label span:last-child {
    border: 0;
}

.down-checkboxes .checkbox-label input {
    display: none;
}

.down-checkboxes .checkbox-label span:after {
    content: "";
    position: absolute;
    top: 42px;
	left: -10px;
    display: block;
    width: 43px;
	height: 130px;
    background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Glina/Images/clip.png);
	background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: .4s all ease;
    z-index: -1;
}

.down-checkboxes .checkbox-label input:checked + span:after {
    opacity: 1;
    top: -22px;
}

/* Roll Template */
.sheet-rolltemplate-glina .sheet-template-wrap {
    background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Glina/Images/sheet-bg-long.png);
	background-position: top left;
    background-color: #e9e4e3;
    border: 1px solid #000;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Bebas Neue', cursive;
    padding: 5px;
	color: #000;
}

.sheet-rolltemplate-glina .sheet-template-header,
.sheet-rolltemplate-glina .sheet-template-subtitle {
    width: 100%;
    padding: 2px 5px;
    line-height: 24px;
    font-family: 'Courier Prime', monospace;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.sheet-rolltemplate-glina .sheet-template-header {
    background-color: #d5c48c;
}

.sheet-rolltemplate-glina .sheet-template-header a {
    color: #231f20;
}

.sheet-rolltemplate-glina .sheet-template-roll-results-title {
	font-size: 26px;
    text-align: center;
	padding: 8px 0px;
}

.sheet-rolltemplate-glina .sheet-template-roll-results {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 28px;
    padding-left: 10px;
    margin-bottom: 6px;
}

.sheet-rolltemplate-glina .sheet-template-roll-results span.inlinerollresult {
    width: 100%;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    line-height: 36px;
    background: transparent;
    font-size: 26px;
    color: #000;
    padding-right: 5px;
	width: auto;
}

.sheet-rolltemplate-glina .sheet-template-d6 span.inlinerollresult {
    font-size: 50px;
    padding-right: 0;
}

.sheet-rolltemplate-glina .sheet-template-d10 {
    background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Glina/Images/d10.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 82px;
	height: 69px;
	position: relative;
	padding-top: 13px;
}

.sheet-rolltemplate-glina .sheet-template-d10 img {
    position: absolute;
	width: 23px;
	bottom: 5px;
	right: 5px;
}

.sheet-rolltemplate-glina .sheet-blue {
    color: #4471c4;
}

.sheet-rolltemplate-glina .sheet-red {
    color: #e83838;
}

.sheet-rolltemplate-glina .sheet-green {
    color: green;
}

/* Repeating sections */
.itemcontrol {
    z-index: 20;
}

.fieldset-labels {
    display: flex;
    flex-wrap: nowrap;
}

.fieldset-labels .mini-title {
    justify-content: flex-start;
    margin-right: 6px;
    height: 26px;
	font-size: 16px;
}

.fieldset-labels .mini-title.center {
    justify-content: center;
}

.repitem {
    display: flex;
    justify-content: flex-end;
}

.repeating-with-textarea .repitem {
    flex-wrap: wrap;
}

.repcontainer {
    margin-bottom: 10px;
}

.repitem input {
    width: 100%;
    margin: 0;
    margin-top: -1px;
	padding: 4px 5px;
	border: 1px solid transparent;
	border-bottom: 1px solid #000;
    transition: .3s all ease;
	line-height: 24px;
    background: transparent;
}

.repitem input:focus {
    border: 1px solid #4471c4;
}

.repitem .break {
    flex-basis: 100%;
    height: 0;
}

.repitem input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
    flex: unset;
    margin-right: 10px;
    margin-top: 10px;
}
