@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

@font-face {
	font-family: 'Belgrad';
	src: url('https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Frostpunk/Fonts/Belgrad.ttf');
}

/* Defaults  */
.ui-dialog .charsheet {
	padding: 0;
}

.character-sheet .row {
	display: flex;
}
.col-10 {
	width: 83%;
	padding: 0 15px;
}
.col-8 {
	width: 66%;
	padding: 0 15px;
}
.col-7 {
	width: 58%;
	padding: 0 15px;
}
.col-6 {
	width: 50%;
	padding: 0 15px;
}
.col-5 {
	width: 41%;
	padding: 0 15px;
}
.col-4 {
	width: 33%;
	padding: 0 15px;
}
.col-2 {
	width: 17%;
	padding: 0 15px;
}
.flex {
	display: flex;
	flex-wrap: nowrap;
}

.character-sheet input {
	font-family: 'Josefin Sans', sans-serif;
	background:#Fff;
	border: 3px solid #3e5f76;
	box-shadow: 4px 4px 0px 0px #00000057;
	display: inline-block;
	font-size: 20px;
	color: #000;
	border-radius: 5px;
	line-height: 22px;
}
.character-sheet input[type="checkbox"] {
	box-shadow: 2px 2px 0px 0px #00000057;
}
.margin-b-10 {
	margin-bottom: 10px;
}

.charsheet .character-sheet button[type="roll"] {
  /* background-color: #b9dff3; */
	background-image: none;
	/* background: linear-gradient(-90deg,#3e5f76 0%, #ffffff 100%); */
	background: linear-gradient(90deg,#3e5f76 30%, #ffffff 100%);
	font-size: 16px;
	text-align: left;
	padding: 9px 12px;
	line-height: normal;
	/* border: 3px solid #3e5f76; */
	border: 0;
	box-shadow: 4px 4px 0px 0px #00000057;
	color: #fff;
	width: 72%;
	overflow: hidden;
	text-shadow: none;
}
.charsheet .character-sheet .attribute-box input[type="number"] {
	width: 55px;
}
.charsheet .character-sheet button[type="roll"] span {
	font-size: 13px;
}
.charsheet .character-sheet button[type="roll"]::before {
	color: #fff;
	font-size: 20px;
	vertical-align: bottom;
	margin-right: 5px;
}

.charactersheet {
  	padding: 0;
}

/* Custom modules */

.character-sheet {
	background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Frostpunk/Images/sheet-bg.jpg);
	background-size: cover;
	background-position: top center;
	padding: 20px;
	font-family: 'Josefin Sans', sans-serif;
	border: 3px solid #000000;
	min-width: 1020px;
	position: relative;
	z-index: 1; 
}
.character-sheet::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, 0.1);
}

.logo {
	text-align: center;
}
.logo img {
	margin: -5px auto;
}

.character-details-label {
  	position: relative;
}
.character-details-label span {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	left: 10px;
	top: 3px;
	color: #3e5f76;
}
.character-details-label input {
  	padding-top: 13px;
	padding-left: 10px;
	font-size: 16px;
  	line-height: 27px;
	width: 100%;
}

.sheet-box {
	background: rgb(0 0 0 / 67%);
	padding: 10px;
	color: #fff;
	margin-bottom: 20px;
	box-shadow: 2px 2px 8px 1px rgb(0 0 0 / 50%);
}

.box-title {
	font-family: 'Belgrad';
	text-transform: uppercase;
	color: #fff;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(62,95,118,1) 60%, rgba(0,181,255,0) 100%);
	font-size: 18px;
	padding: 6px 20px;
	border-radius: 20px 0 0 0;
}

.character-sheet .title {
	font-family: 'Belgrad';
	font-size: 64px;
	color: #3e5f76;
	text-align: center;
	margin:0;
	letter-spacing: 8px;
	line-height: normal;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character-sheet .reset-radio {
	width: auto;
	line-height: 34px;
	margin: 0;
	padding: 0 12px;
}
.reset-radio input {
	box-shadow: none;
	margin-top: 12px;
	display: inherit;
}

.attribute-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.attribute-box input {
	width: 55px;
	text-align: center;
}


.box-input {
 	background: #Fff;
	border: 3px solid #3e5f76;
	box-shadow: 4px 4px 0px 0px #00000057;
  	padding: 5px;
}
 .box-input label {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	border-bottom: 1px solid #3e5f76;
	padding: 0;
	color: #3e5f76;
}
.box-input label span {
 	white-space: nowrap;
	line-height: 36px;
	padding: 0 5px;
}
.box-input label input {
	width: 100%;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	font-size: 16px;
	line-height: 27px;
}

.character-sheet-table {
	width: 100%;
	background: #fff;
	color: #000;
	margin-bottom: 10px;
	border: 3px solid #3e5f76;
	box-shadow: 4px 4px 0px 0px #00000057;
}
.character-sheet-table td {
	font-size: 16px;
	padding: 10px;
}

.label-with-checkboxes {
	background: #dfd9d2;
	border: 1px solid #3e5f76;
	box-shadow: 4px 4px 0px 0px #00000057;
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.label-with-checkboxes span {
	display: block;
	text-align: center;
	font-size: 22px;
	color: #3e5f76;
  	line-height: normal;
}
.label-with-checkboxes input {
	transform: scale(1.5);
	margin: 5px;
}

.conditions-box {
	display: flex;
	flex-wrap: nowrap;
}
.character-sheet .checkbox-label {
	display: block;
	width: 100%;
	margin: 0;
	white-space: nowrap;
	padding: 0;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.checkbox-label input {
	opacity: 0;
	position: absolute;
}
.checkbox-label span {
	border: 3px solid #3e5f76;
	padding: 8px;
	/* background: #878787; */
	background: radial-gradient(circle at center, transparent, #6f8899);
	color: #b9b9b9;
	transition: .3s all ease;
	display: inline-block;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.checkbox-label span:before {
	content: "";
	background: radial-gradient(circle at center, #1ea297 30%, #2e65c4);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: .3s all ease;
	transform: scale(0);
}
.checkbox-label input:checked + span {
	color: #fff;
	background: radial-gradient(circle at center, transparent, rgb(111 136 153 / 30%));
}
.checkbox-label input:checked + span:before {
	transform: scale(1);
}

/* Roll Template */
.sheet-rolltemplate-frostpunk .sheet-template-wrap {
	background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Frostpunk/Images/roll-bg.jpg);
	background-position: top center;
	background-size: cover;
	border: 3px solid #3e5f76;
	margin: 0;
}

.sheet-rolltemplate-frostpunk .sheet-template-header {
	width: 100%;
	padding: 7px 5px;
	color: #fff;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(62,95,118,1) 60%, rgba(0,181,255,0) 100%);
	font-family: 'Belgrad';
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
}
.sheet-rolltemplate-frostpunk .sheet-template-header a {
	color: #fff;
}
.sheet-rolltemplate-frostpunk .sheet-template-subtitle {
	font-family: 'Belgrad';
	color: #000000;
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
	text-shadow: 1px 1px 3px #ffffff;
	text-transform: uppercase;
}

.sheet-rolltemplate-frostpunk .sheet-template-grid {
	text-align: center;
}
.sheet-rolltemplate-frostpunk .sheet-template-grid-item {
  	display: inline-block;
	vertical-align: middle;
}

.sheet-rolltemplate-frostpunk .sheet-template-base-between {
	height: 33px;
	width: 33px;
	background-color: rgb(255 255 255 / 50%);
	border: 1px solid #3e5f76;
	border-radius: 5px;
	background-size: cover;
	box-shadow: 4px 4px 0px 0px rgb(0 0 0 / 60%);
	margin: 3px 0;
	overflow: hidden;

}
.sheet-rolltemplate-frostpunk .sheet-template-base-between > span, .sheet-rolltemplate-frostpunk .sheet-template-base-success > span {
	width: 100%;
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	line-height: 33px;
	background: transparent;
	font-family: 'Belgrad';
	font-size: 0;
	/* color: #3e5f76; */
	color: #fff;
}
.sheet-rolltemplate-frostpunk .sheet-template-base-success > span {
	display: block;
}
.sheet-rolltemplate-frostpunk .sheet-template-base-success {
	height: 33px;
	width: 33px;
	border-radius: 5px;
	border: 1px solid #3e5f76;
	background-color: #f1f0ee;
 	box-shadow: 4px 4px 0px 0px rgb(0 0 0 / 60%);
	/* background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Frostpunk/Images/Snowflake-icon.png); */
	background-size: 149%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.sheet-rolltemplate-frostpunk span.inlinerollresult.fullcrit {
	background: radial-gradient(circle at center, rgb(62 95 118), #009f0c);
 	border: 0;
	font-size: 18px;
}
.sheet-rolltemplate-frostpunk span.inlinerollresult.fullfail {
 	border: 0;
	background: radial-gradient(circle at center, rgb(0 0 0 / 50%), #000000);
	font-size: 18px;
}

.sheet-rolltemplate-frostpunk .sheet-dice-pool-name {
	font-size: 12px;
	padding: 5px;
	text-align: center;
	background: #000;
	color: #fff;
}


/* Progress effect  */

.character-sheet .bar {
	display: flex;
	flex-direction: row-reverse;
	margin: 0;
	width: 300px;
	max-width: calc(100% - 30px);
	padding: 3px 0;
	justify-content: flex-end;
}
.character-sheet  .bar-input {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.bar-input:checked ~ .bar-view:nth-child(10):after {
	transition-delay: -0.05s;
}
.bar-input:checked ~ .bar-view:nth-child(10) .bar-button:before {
	transition-delay: 0.01s;
}
.bar-input:checked ~ .bar-view:nth-child(8):after {
	transition-delay: 0.05s;
}
.bar-input:checked ~ .bar-view:nth-child(8) .bar-button:before {
	transition-delay: 0.11s;
}
.bar-input:checked ~ .bar-view:nth-child(6):after {
	transition-delay: 0.15s;
}
.bar-input:checked ~ .bar-view:nth-child(6) .bar-button:before {
	transition-delay: 0.21s;
}

.bar-input:checked ~ .bar-view:nth-child(4):after {
	transition-delay: 0.25s;
}
.bar-input:checked ~ .bar-view:nth-child(4) .bar-button:before {
	transition-delay: 0.31s;
}
.bar-input:checked ~ .bar-view:nth-child(2):after {
	transition-delay: 0.35s;
}
.bar-input:checked ~ .bar-view:nth-child(2) .bar-button:before {
	transition-delay: 0.41s;
}
.character-sheet .bar-input:checked ~ .bar-view:after {
	transform: scaleX(1);
}
.bar-input:checked ~ .bar-view .bar-button:before {
	transform: none;
	opacity: 1;
}
.bar-input:checked + .bar-view .bar-button:after {
	opacity: 1;
	-webkit-animation: bouncing 0.6s cubic-bezier(0, 0, 0.74, 1.04) infinite;
					animation: bouncing 0.6s cubic-bezier(0, 0, 0.74, 1.04) infinite;
}
.bar-view {
	display: none;
	flex-grow: 1;
	position: relative;
	padding: 0 10px;
	max-width: 38px;
}
.character-sheet .bar-view:after {
	height: 2px;
	top: calc(50% - 1px);
	transition: transform 0.06s cubic-bezier(0, 0.72, 0.58, 1);
	transform: scaleX(0);
	background: #000;
	transform-origin: left;
	z-index: 1;
}
.bar-view:not(:last-child):before, .bar-view:not(:last-child):after {
	content: "";
	width: calc(100% - 24px);
	position: absolute;
	right: calc(50% + 12px);
}
.bar-view:not(:last-child):before {
	height: 6px;
	top: calc(50% - 3px);
	background: #3e5f76;
}
.bar-view:not(:last-child):nth-child(2):after {
	transition-delay: 0s;
}
.bar-view:not(:last-child):nth-child(2) .bar-button:before {
	transition-delay: 0.06s;
	background: radial-gradient(circle at center, #051ae9, #5e27ce);
}
.bar-view:not(:last-child):nth-child(4):after {
	transition-delay: 0.1s;
}
.bar-view:not(:last-child):nth-child(4) .bar-button:before {
	transition-delay: 0.16s;
	background: radial-gradient(circle at center, #2e65c4, #051ae9);
}
.bar-view:not(:last-child):nth-child(6):after {
	transition-delay: 0.2s;
}
.bar-view:not(:last-child):nth-child(6) .bar-button:before {
	transition-delay: 0.26s;
	background: radial-gradient(circle at center, #1ea297, #2e65c4);
}
.bar-view:not(:last-child):nth-child(8):after {
	transition-delay: 0.3s;
}
.bar-view:not(:last-child):nth-child(8) .bar-button:before {
	transition-delay: 0.36s;
	background: radial-gradient(circle at center, #6f8899, #1ea297);
}
.bar-view:not(:last-child):nth-child(10):after {
	transition-delay: 0.4s;
}
.bar-view:not(:last-child):nth-child(10) .bar-button:before {
	transition-delay: 0.46s;
}
.character-sheet .bar-button {
	display: block;
	width: 24px;
	height: 24px;
	margin: auto;
	border-radius: 50%;
	border: 3px solid #3e5f76;
	position: relative;
	cursor: pointer;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3), 2px 2px 8px rgba(0, 0, 0, 0.1);
	padding:0;
}
.character-sheet .bar-button:before {
	content: "";
	position: absolute;
	pointer-events: none;
}
.bar-button:before {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: radial-gradient(circle at center, #ffffff, #6f8899);
	transform: scale(0.3);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.72, 0.58, 1);
}


input.bar-calc-view[value="1"] ~ .bar .bar-view:nth-child(n+10) {
	display: flex;
}
input.bar-calc-view[value="2"] ~ .bar .bar-view:nth-child(n+8) {
	display: flex;
}
input.bar-calc-view[value="3"] ~ .bar .bar-view:nth-child(n+6) {
	display: flex;
}
input.bar-calc-view[value="4"] ~ .bar .bar-view:nth-child(n+4) {
	display: flex;
}
input.bar-calc-view[value="5"] ~ .bar .bar-view:nth-child(n+2) {
	display: flex;
}