@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

/* Defaults  */
.ui-dialog .charsheet {
    padding: 0;
}

.character-sheet .row {
    display: flex;
    max-width: 100%;
    margin: 0;
}

.col-12 {
    width: 100%;
    padding: 0 2px;
}

.col-10 {
    width: 83%;
    padding: 0 2px;
}

.col-9 {
    width: 75%;
    padding: 0 2px;
}

.col-8 {
    width: 66%;
    padding: 0 2px;
}

.col-7 {
    width: 58%;
    padding: 0 2px;
}

.col-6 {
    width: 50%;
    padding: 0 2px;
}

.col-5 {
    width: 41%;
    padding: 0 2px;
}

.col-4 {
    width: 33%;
    padding: 0 2px;
}

.col-3 {
    width: 25%;
    padding: 0 2px;
}

.col-2 {
    width: 17%;
    padding: 0 2px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.character-sheet input,
.character-sheet select {
    /* font-family: 'Girassol', cursive; */
    text-transform: none;
    background: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid #231f20;
    display: inline-block;
    font-size: 16px;
    color: #000;
    line-height: 32px;
    height: 32px;
    padding: 0 6px;
    box-sizing: border-box;
    border-radius: 0;
}

.character-sheet input.transparent {
    background: transparent;
    line-height: 16px;
    height: auto;
    padding: 5px 5px 0;
}

.character-sheet input:focus {
    border: 1px solid #231f20;
    outline: none;
}

.charactersheet {
    padding: 0;
}

.character-sheet textarea {
    background-attachment: local;
    background-color: transparent;
    font-size: 16px;
    padding: 1px 9px;
    box-sizing: border-box;
    height: auto;
    resize: vertical;
    margin: 0;
    border: 0;
    color: #000;
    border-radius: 0;
}

.character-sheet textarea:focus {
    border: 0;
    outline: none;
}

.charsheet .character-sheet button[type="roll"],
.charsheet .character-sheet button[type="action"] {
    border: 0;
    font-family: 'Girassol', cursive;
    background: transparent;
    text-transform: uppercase;
    color: #231f20;
    cursor: pointer;
    transition: .3s all ease;
    text-shadow: none;
    border-radius: 4px;
    padding: 0;
    height: 36px;
}

.charsheet .character-sheet button[type="roll"]:hover,
.charsheet .character-sheet button[type="action"]:hover {
    background: #231f20;
    color: #fff;
}

.charsheet .character-sheet button[type="roll"]::before,
.charsheet .character-sheet button[type="action"]::before {
    color: #893fc8;
    font-size: 20px;
    font-family: "dicefontd20";
    content: "t";
}

.charsheet .character-sheet input[type="checkbox"] {
    width: auto;
}

.charsheet .character-sheet input[type="number"] {
    width: 100%;
    padding-right: 0;
    text-align: center;
    font-size: 18px;
}

.charsheet .character-sheet input.circle-input {
    width: 20px;
    padding: 0 9px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #231f20;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 2px;
}

.charsheet .character-sheet input.circle-input:checked {
    background-color: #231f20;
}

.charsheet .character-sheet label {
    font-weight: 400;
}

/* Custom modules */
.character-sheet {
    background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Fatum/Images/sheet-bg.png);
    background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
    box-sizing: border-box;
    padding: 210px 117px;
	padding-bottom: 40px;
    color: #000;
    font-family: 'Girassol', cursive;
    width: 1000px;
    min-height: 1500px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.character-sheet .secret-roll {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    color: #231f20;
    display: flex;
    align-items: center;
    margin: 3px 0;
    padding-left: 13px;
    width: auto;
    line-height: 25px;
}

.character-sheet .secret-roll input {
    margin-right: 8px;
}

.character-sheet .input-box {
    border: 2px solid #272626;
    margin-bottom: 3px;
}

.character-sheet .input-box label {
    margin: 0;
    padding: 0;
    display: flex;
	align-items: center;
}

.character-sheet .input-box label span {
    padding: 7px 8px;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
}

.character-sheet .input-box input, .character-sheet .input-box select {
    background-color: transparent;
    border: 0;
    margin: 0;
    width: 100%;
}

.character-sheet .input-box.input-box--hr {
    position: relative;
}

.character-sheet .input-box.input-box--hr::before {
    content: "";
    display: block;
    height: 4px;
    width: auto;
    background: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/Fatum/Images/hr.png);
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 10px;
	right: 10px;
}

.wounds-box {
    padding-bottom: 10px;
}

.wounds-box > div {
    padding: 5px 10px;
}

.wounds-box::before {
    content: "";
    display: block;
}

.checkbox-label {
    flex-direction: column;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.character-sheet .checkbox-label input {
    position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox-label .checkmark {
	height: 23px;
	width: 23px;
    border: 2px solid #000;
    position: relative;
}

.checkbox-label .checkmark::after {
    content: "";
    position: absolute;
    left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid transparent;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkbox-label input:checked ~ .checkmark:after {
	border-color: #000;
}

.attributes-box {
    display: flex;
    position: relative;
    margin-top: 10px;
}

.attributes-box::before {
    content: "";
	display: block;
	height: 2px;
	width: auto;
	background: #272626;
	position: absolute;
	z-index: 1;
	top: 24px;
	left: 0;
	right: 10px;
}

.attributes-box .fieldset-labels {
    margin-bottom: 5px;
}

.attributes-box__text {
    padding-left: 45px;
}

.attributes-box__line {
    position: relative;
    margin-right: 11px;
}
/* 
.attributes-box__line::before {
	content: "";
	position: absolute;
	top: 25px;
    bottom: 40px;
	right: -11px;
	width: 2px;
	background: #272626;
} */

.attributes-box__line-horizontal {
    position: relative;
}

.attributes-box__line-horizontal::before, .attribute-box__line-horizontal-left::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 11px;
	background: #272626;
	right: -11px;
	top: 14px;
	z-index: -1;
}

.attribute-box__line-horizontal-left {
    position: relative;
}

.attribute-box__line-horizontal-left::before {
    right: 100%;
    left: -1px;
	top: 18px;
	width: 14px;
}

.attribute-box__line-horizontal-left button {
    margin-top: 2px;
}

.attributes-box__line-ver {
    position: relative;
}

.attributes-box__line-ver .repitem::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: 0;
	left: -2px;
	width: 2px;
	background: #272626;
}

.attributes-box__line-ver .repitem:last-child::before {
    bottom: calc(100% - 20px);
}

/* Roll Template */
.sheet-rolltemplate-fatum .sheet-template-wrap,
.sheet-rolltemplate-coin-flip .sheet-template-wrap {
    /* background-image: url(https://raw.githubusercontent.com/Velczer/CharacterSheets/master/BrokenCompass/Images/roll-bg.jpg?v=2); */
    background-color: #e9e4e3;
    background-position: top center;
    background-size: cover;
    border: 2px solid #000;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Girassol', cursive;
    padding: 5px;
}

.sheet-rolltemplate-fatum .sheet-template-header,
.sheet-rolltemplate-fatum .sheet-template-subtitle {
    width: 100%;
    padding: 2px 5px;
    line-height: 24px;
    border: 1px solid #272626;
    color: #231f20;
    font-family: 'Girassol', cursive;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.sheet-rolltemplate-fatum .sheet-template-header a,
.sheet-rolltemplate-coin-flip .sheet-template-header a {
    color: #231f20;
}

.sheet-rolltemplate-fatum .sheet-template-grid {
    text-align: left;
    padding: 0 5px;
    padding-bottom: 8px;
}

.sheet-rolltemplate-fatum .sheet-template-grid-item {
    display: inline-block;
    vertical-align: middle;
}

.sheet-rolltemplate-fatum .sheet-template-grid-item-flex {
    display: flex;
    align-items: center;
}

.sheet-rolltemplate-fatum .sheet-template-roll-between, 
.sheet-rolltemplate-fatum .sheet-template-roll-success, 
.sheet-rolltemplate-fatum .sheet-template-roll-fail {
    height: 36px;
    width: 36px;
    border: 1px solid #272626;
    border-radius: 5px;
    background-size: cover;
    margin: 2px 1px;
    overflow: hidden;
    display: inline-block;
}

.sheet-rolltemplate-fatum .sheet-template-roll-between>span,
.sheet-rolltemplate-fatum .sheet-template-roll-success>span,
.sheet-rolltemplate-fatum .sheet-template-roll-fail>span {
    width: 100%;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    line-height: 36px;
    background: transparent;
    font-family: 'Girassol', cursive;
    font-size: 26px;
    color: #231f20;
}

.sheet-rolltemplate-fatum .sheet-template-roll-success>span {
    display: block;
}

.sheet-rolltemplate-fatum .sheet-template-roll-success>span {
    color: #8dc63f;
}
.sheet-rolltemplate-fatum .sheet-template-roll-fail>span {
    color: #f1592a;
}

.sheet-rolltemplate-fatum .sheet-template-roll-between>span.fullcrit,
.sheet-rolltemplate-fatum .sheet-template-roll-between>span.fullfail {
    border: 0;
}

.sheet-rolltemplate-fatum span.inlinerollresult.fullcrit {
    border: 0;
    counter-increment: hit;
}

.sheet-rolltemplate-fatum span.inlinerollresult.fullfail {
    border: 0;
}

.sheet-rolltemplate-fatum .sheet-template-dice-stats {
    display: flex;
    justify-content: space-between;
    border: 1px solid #272626;
    margin-top: -1px;
}

.sheet-rolltemplate-fatum .sheet-template-dice-stats>div {
    padding: 6px 8px;
    color: #231f20;
    font-size: 16px;
}

.sheet-rolltemplate-fatum .sheet-template-dice-stats span {
    display: inline;
    border: 0;
    background: transparent;
    padding: 0;
}

.sheet-rolltemplate-fatum .sheet-template-dice-stats > .sheet-template-dice-stats-value {
    padding: 0;
}

.sheet-rolltemplate-fatum .sheet-template-dice-stats-value span {
	background: #231f20;
	width: 36px;
	color: #fff;
	display: flex;
	height: 100%;
	align-items: center;
    justify-content: center;
	font-weight: 400;
	font-size: 22px;
}

.sheet-rolltemplate-fatum .sheet-template-dice-stats-value.sheet-success span {
    background-color: #8dc63f;
}

.sheet-rolltemplate-fatum .sheet-template-dice-stats-value.sheet-fail span {
    background-color: #f1592a;
}

.sheet-rolltemplate-fatum .sheet-template-dice-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.sheet-rolltemplate-fatum .sheet-template-dice-actions>div {
    flex: 1;
}

.sheet-rolltemplate-fatum .sheet-template-dice-actions>div:last-child {
    border-left: 1px solid transparent;
}

.sheet-rolltemplate-fatum .sheet-template-button a {
    background: #231f20;
    border: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 5px 10px;
}

/* Repeating sections */
.itemcontrol {
    z-index: 20;
}

.fieldset-labels {
    display: flex;
    flex-wrap: nowrap;
}

.fieldset-labels .mini-title {
    justify-content: flex-start;
    margin-right: 6px;
    height: 26px;
	font-size: 16px;
}

.repitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.repitem input {
    width: 100%;
    margin: 2px;
	padding: 5px;
	border: 2px solid #272626;
	line-height: 24px;
    background: transparent;
}

.repitem input:focus {
    border: 2px solid #000;
}

.repitem .break {
    flex-basis: 100%;
    height: 0;
}

.character-sheet .repitem textarea {
    border: 2px solid #272626;
    padding: 4px 9px;
    min-height: 34px;
    width: 85%;
}

.repitem input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
    flex: unset;
    margin-right: 10px;
    margin-top: 10px;
}

.rep-box-vertical .repitem {
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.rep-box-vertical .repitem label {
    margin-bottom: 0;
}

.rep-box-vertical .repitem input {
    margin-bottom: 0;
    border-radius: 0;
}

.rep-box-vertical .repitem textarea {
    height: 78px;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
}
